.form-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(212, 208, 208);
    overflow: auto;
}
.form-box{
    width: 50%;
    height: 100%;
    margin: 20px 0;
    border-radius: 5px;
}
.form-header{
    background-color: white;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.logo-container{
    width: 180px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo-image{
   width: 20%;
}
.logo-text{
    font-size: 20px;
}
.btn-header{
    border: none;
    padding: 10px 15px;
    background-color: rgb(163, 73, 248);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.first-form{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 16px;
}

input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(219, 214, 214);
}
input:focus{
    outline: none;
}
.add-cat-btn{
    padding: 10px;
    margin-left: 5px;
    font-size: 12px;
    border: none;
    background-color: rgb(163, 73, 248);
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.items-Cat-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-select-container{
    margin-right: 20px;
}
.category-select-container select{
    padding: 10px 15px;
    border: 1px solid rgb(219, 214, 214);
}
.cattegory-sublist{
    margin-top: 10px;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 15px;
}
.cattegory-sublist button{
    background-color: rgb(163, 73, 248);
    color: #fff;
    border: none;
    border-radius: 2px;
}
.ansWithCategory-list{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.second-form{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.preview-box input{
    width: 95%;
}
.sentence-box input{
    width: 95%;
}
.sentence-input{
 display: flex;
}
.option-box{
    padding: 10px;
}
.option-box input{
    margin-right: 10px;
}
.third-form{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;  
}
.comp-box textarea{
    width: 95%;
    padding: 10px;
    border: 1px solid rgb(219, 214, 214);
    border-radius: 5px;
}
.comp-box textarea:focus{
    outline: none;
}
.comp-input{
    display: flex;
}
.preview-third-form p{
    align-items: center;
}
.clicked{
    text-decoration: underline;
}
.checkbox-list{
    display: flex;
    gap: 10px;
}
li{
    list-style: none;
}